body{
    background-color: gray;
     
}
#title{
    margin-left: 100px;
    font-size: 60px;
    text-decoration: underline;
    font-weight: bolder;
}
.header-section{
   display: flex;
   justify-content:flex-start;
  border: 5px solid #00cfff4a;
   flex-wrap: wrap;
}  
#header-img{
 
    border-radius: 100px;
    width: 120px;
    height: 120px;
  
}
.heading{
    align-self: center;
    text-decoration: underline;
}
.articles-section{
    display: flex;
   flex-direction: column;
   margin-top: 50px;
    margin-left: auto;
margin-right: auto;
}
.container1{
    display: flex;
    font-size: medium;
    flex-wrap: wrap;
    justify-content: center;
    
    
    
}
.article{
  display: flex;  
 flex-direction:  column;
}


.sidebar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 5px solid #00cfff4a;
    height: 300px;
}
.about{
    font-size: medium;
   
}
.about-p{
    font-size: medium;
}

#thefooter{
    display: flex;
    background-color:#00f3ff2e;
    
 }

 .afooter{
    display: flex;
    
     font-size: medium;
 }
 @media screen and (min-width:600px) and (max-width:1024px){
    
     .articles-section{
         flex-direction: row;
         align-items: flex-start;
     }
     .heading{
        align-self: flex-start;
    }
  
.container1{
    flex-basis: 1700px;
}
.sidebar{
    flex-direction: column;
    
    align-items: center;
}

 }
 @media screen and (min-width:1024px){
    .articles-section{
        flex-direction:row;
    align-items: flex-start;
         
    }
    .container1{
       flex-direction: row;
       width: 500%;
        flex-wrap: wrap;
    }  
    .article{
        flex-basis: 288px;
        flex-grow: 1;
        font-size: small;
        align-items: center;
       
    }
    
}