body{
    background-color: gray;
}
#title{
    font-size: 60px;
    text-decoration: underline;
    font-weight: bolder;
}
.header{
    font-size: 30px;
    font-weight: bold;
    text-decoration: wavy;
}
#header-img{
    border-radius: 100px;
    width: 200px;
    height: 200px;
    position: relative;
}
#article-section{
    overflow: auto;
    
}
.heading{
    margin-top: 300px;
    text-decoration: underline;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}
.first{
    text-align: center;
    font-size: 28px;
    margin-top: 250px;
    text-decoration: underline;

}
.article:first-child{
    border-width: 350px;
    font-size: 24px;
}
.article{
    margin: 90px;
    border-width: 90px;
    font-size: 22px;
    
}
.asbox{
    border: 300px;
    background-color: white;
}
.aside{
    margin-bottom: 300px;
    font-size: 22px;
    border-width: 80px;
}
#thefooter{
    background-color:blue;

}
.footer{
    font-size: 20px;
    
}