body{
    background-color: gray;
}
#title{
    margin-left: 100px;
    font-size: 60px;
    text-decoration: underline;
    font-weight: bolder;
}
.header{
    margin-left: 100px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: wavy;
}
#header-img{
    margin-left: 100px;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    position: relative;
}
.articles-section{
    display: flex;
    flex-wrap: wrap;
    border: 5px solid red;
}
.article{
    display: flex;
    font-size: medium;
    flex-wrap: wrap;
    justify-content: center;
    border: 5px solid #00f3ff2e;
    
    
}

#thefooter{
   display: flex;
   background-color:#00ffdb;

}
.afooter{
   display: flex;
   
    font-size: medium;
}


.sidebar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 5px solid red;
}
.about{
    font-size: medium;
   
}
.about-p{
    font-size: medium;
}
@media screen and (min-width:400px){

.article{
    flex-basis: 350px;
}
.sidebar{
    flex-basis: 350px;
}
}
@media screen and (min-width:700px){
    .article{
        flex-basis: 200px;
    }
       .sidebar{
           flex-basis: 200px;
    }
}